{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-info">Профиль пользователя</h5>
            <p class="card-text">Имя пользователя: {{ user.username }}</p>
            <p class="card-text">Роль: {{ user.role }}</p>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Дата регистрации: {{ user.date_joined|date:"d.m.Y" }}</p>
        </div>
    </div>
</div>
{% endblock %}